/* .wrap{
    background-color: orange;
    border: 4px solid red;
    height: 70px;
    margin: auto;
}

.box{
    background-color: black;
    color: white;
    border: 3px solid blue; */
    /* margin-top: 10px; */
    /* margin: 4px 3px -60% 3px;
    padding: 10px;
}    */

/* .wrap{
    /* border-style: solid;
    border-width: 10px;
    border-color: red; */
    /* border-top-style: solid;
    border-bottom-style: solid;
    border-right-style: dashed;
    border-left-style: dotted; */
    /* border-style: solid dashed dotted;
    border-color: red green purple blue;
    border-width: 10px 14px 8px 7px;

}  */
/* html{
    height: 100%;
}
body{
    height: 100%;
}
.wrap{
    height: 100%;
}

.box{
    background-color: lightgrey;
    border: 3px solid darkkhaki;
    height: 40%;
} */