<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="js/jquery.js"></script>
    <script src="js/script.js"></script>
</head>
<body>
    <form action="/tasks" method="POST">
        <input id="inp" name="task">
        <button id="btn" type="submit">ADD</button>
    </form>

    <ul id="list">
        {{#each tasklist as |item|}}
            <li>{{item.task}}</li> 
        {{/each}}
    </ul>
</body>
</html>