body{
    perspective: 800px;
    /* perspective-origin: 0% 0%; */
}

.wrap{
    height: 400px;
    width: 300px;
    margin: auto;
    /* background: orange; */
    transition: transform;
    transition-duration: 2s;
    transform-style: preserve-3d;
}
.wrap div{
    height: 400px;
    width: 300px;
    position: absolute;
    backface-visibility: hidden;
}
.front-side{
    background: gold url('../Animations/Vegeta.jpeg') no-repeat center;
    z-index: 100;
}
.back-side{
    background: aqua;
    transform: rotateY(180deg);
}

.wrap:hover{
    transform: rotateY(180deg);
}